<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="UGTUConnectionString1" connectionString="Data Source=ugtudb.ugtu.net;Initial Catalog=UGTU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UGTUConnectionString" connectionString="Data Source=172.16.16.20;Initial Catalog=UGTU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UGTUConnectionString2" connectionString="Data Source=172.16.16.20;Initial Catalog=UGTU;User ID=serg;Password=se1t1sMerg"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <authentication mode="Windows"></authentication>
      <compilation debug="true" targetFramework="4.0" />
      <identity impersonate="true"/>
    </system.web>

</configuration>
