/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  [Название документа]
      ,[Вид документа]
      ,[Статус документа]
      ,[Подтверждение обмена]
      ,[Уровень образования]
      ,[Серия документа]
      ,[Номер документа]
      ,[Дата выдачи]
      ,[Регистрационный номер]
      ,[Код специальности / направления подготовки]
      ,[Наименование специальности / направления обучения]
      ,[Квалификация]
      ,[Год поступления]
      ,[Год окончания]
      ,[Срок обучения, лет]
      ,[Фамилия получателя]
      ,[Имя получателя]
      ,[Отчество получателя]
      ,[Дата рождения получателя ]
      ,[Пол получателя]
      ,[Наименование документа об образовании (оригинала)]
      ,[Серия (оригинала)]
      ,[Номер (оригинала)]
      ,[Регистрационный N (оригинала)]
      ,[Дата выдачи (оригинала)]
      ,[Фамилия получателя (оригинала)]
      ,[Имя получателя (оригинала)]
      ,[Отчество получателя (оригинала)]
      ,[F29]
      ,[F30]
      ,[F31]
      ,[F32]
      ,[F33]
      ,[F34]
      ,[F35]
      ,[F36]
  FROM [UGTU_COPY].[dbo].[Шаблон$]
  where [Фамилия получателя] is not null or [Фамилия получателя (оригинала)] is not null


  delete from
  [UGTU_COPY].[dbo].[Шаблон$]
  where [Фамилия получателя] is  null and [Фамилия получателя (оригинала)] is  null 


