/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT TOP 1000 [TypeWorkName]
      ,[PostName]
      ,[EmployeeGUID]
      ,[FirstName]
      ,[LastName]
      ,[Otch]
      ,[DepartmentGUID]
      ,[PostGUID]
      ,[DateBegin]
      ,[DateEnd]
      ,[StaffCount]
      ,[HourCount]
      ,[idFactStaffHistory]
      ,[Login]
      ,[isPPS]
      ,[DegreeName]
      ,[itab_n]
      ,[RankName]
      ,[КодПреподавателяКафедры]
  FROM [dekanatMMIS].[Import].[Educators] where lastname like 'Вакансия' or [FirstName] like 'Вакансия' AND [idFactStaffHistory] IS NOT NULL ORDER BY [idFactStaffHistory]