


  insert into UGTU.[Import].[KafTeachers] 
  select [TypeWorkName]
      ,[PostName]
      ,[EmployeeGUID]
      ,[FirstName]
      ,[LastName]
      ,[Otch]
      ,[DepartmentGUID]
      ,[PostGUID]
      ,[DateBegin]
      ,[DateEnd]
      ,[StaffCount]
      ,[HourCount]
      ,[idFactStaffHistory]
      ,[Login]
      ,[isPPS]
      ,[DegreeName]
      ,[itab_n]
      ,[RankName]
      ,[DegreeSmallName]
      ,[BirthDate]
      ,[idEmployee]
      ,[DegreeScienceName]
      ,[PPSStuff]
      ,[HourlyLoad]
	  from    [UGTU_TEST].[Import].[KafTeachers] where [DepartmentGUID]='daee3fd5-664d-e111-96a2-0018fe865bec' and isPPS=1 and dateend is null 
	  --and  idFactStaffHistory not in (select  idFactStaffHistory from UGTU_TEST.[Import].[KafTeachers])