/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT TOP 1000 [Код]
      ,[КодПлана]
      ,[ТипСтроки]
      ,[Дисциплина]
      ,[НомерСтроки]
      ,[НомерБлока]
      ,[НомерСтрокиВБлоке]
      ,[ЧасовПоГОСу]
      ,[ЧасовСамостоятельнаяРабота]
      ,[КодКафедры]
      ,[КоэффициентУникальности]
      ,[ПризнакНазванияРаздела]
      ,[ПризнакРаздела]
      ,[ПерезачтеноКонтрольных]
      ,[ПерезачтеноЧасов]
      ,[ПодлежитИзучениюЧасов]
      ,[ТрудоемкостьКредитов]
      ,[ЦиклКод]
      ,[ДисциплинаКод]
      ,[КонтрольнаяСумма]
      ,[Резерв]
      ,[КодДисциплины]
      ,[Выборная]
      ,[ДополнительнаяВыборная]
      ,[Факультатив]
      ,[Цикл]
      ,[Компонент]
      ,[Компетенции]
      ,[ЧасовВЗЕТ]
      ,[ПолевыеЗанятия]
      ,[НеСчитатьЗачеты]
      ,[НеСчитатьКонтроль]
      ,[МаксУчНагрузкаСПО]
      ,[Удалена]
      ,[КодООП]
      ,[КодБлока]
      ,[КодРодителя]
      ,[ТипОбъекта]
      ,[ВидОбъекта]
      ,[ВидПрактики]
      ,[РассредПрактика]
      ,[УровеньВложения]
      ,[ПризнакФизкультуры]
      ,[СчитатьБезЗЕТ]
      ,[СчитатьВПлане]
      ,[ЗаСчетПолевых]
      ,[ЗЕТфакт]
      ,[ЗЕТизучено]
      ,[ЧасовПоЗЕТ]
      ,[ЧасовПоПлану]
      ,[ЧасовИзучено]
      ,[НестандартНедПрактики]
      ,[ReadOnly]
      ,[Свернуть]
      ,[Multiselect]
      ,[Оценка]
      ,[ТипПерезачета]
      ,[Адаптационная]
  FROM [dekanatMMIS].[dbo].[ПланыСтроки] 
  

update [dekanatMMIS].[dbo].[ПланыСтроки] 
set дисциплина = дисциплина + ' ' + 'практика'
--set дисциплина = 'производственная практика'
 where 
 дисциплина  like 'учебная (исполнительская)'
--дисциплина  like 'Научно-производственная' or  дисциплина  like 'Первая производственная'  or  дисциплина  like 'Вторая производственная'
 -- where дисциплина  like '2-я учебная  (по получению первичных профессиональных умений и навыков, в том числе первичных умений и навыков научно-исследовательской деятельности)' 
 -- or  дисциплина  like
 -- '2-я учебная'
 --   or  дисциплина  like
 -- 'Учебная ознакомительная'
 --     or  дисциплина  like
 -- 'Учебная (гидрометеорологическая)'
 --       or  дисциплина  like
 -- 'Учебная (эколого-географическая)'
 --         or  дисциплина  like
 -- 'Учебная по документоведению'
 --           or  дисциплина  like
 -- 'учебная (горно-буровая)'
 --             or  дисциплина  like
 -- 'учебная (горно-буровая 2)'
 --               or  дисциплина  like
 -- 'учебная (научно-исследовательская работа)'
 --                 or  дисциплина  like
 -- 'учебная (минералого-петрографическая)'
 --                   or  дисциплина  like
 -- 'учебная (практика по получению первичных профессиональных умений и навыков)'
 --                     or  дисциплина  like
 -- 'учебная (вычислительная)'
 --                       or  дисциплина  like
 -- 'учебная (ознакомительная)'
 --                         or  дисциплина  like
 -- 'учебная (топографическая)'

 --                      or  дисциплина  like
 -- 'учебная (по почвоведению)'
 --                         or  дисциплина  like
 -- 'учебная (геодезическая)'
 --                           or  дисциплина  like
-- 'производственная (преддипломная)'