/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT TOP 1000 [TypeWorkName]
      ,[PostName]
      ,[EmployeeGUID]
      ,[FirstName]
      ,[LastName]
      ,[Otch]
      ,[DepartmentGUID]
      ,[PostGUID]
      ,[DateBegin]
      ,[DateEnd]
      ,[StaffCount]
      ,[HourCount]
      ,[idFactStaffHistory]
      ,[Login]
      ,[isPPS]
      ,[DegreeName]
      ,[itab_n]
      ,[RankName]
      ,[DegreeSmallName]
      ,[BirthDate]
      ,[idEmployee]
      ,[DegreeScienceName]
      ,[PPSStuff]
      ,[HourlyLoad]
  FROM [UGTU].[Import].[KafTeachers] where isPPS=1 and ([DepartmentGUID]='2953EB49-3221-4BF6-8ED0-B57CEDFC5C86' or [DepartmentGUID]='DAEE3FD5-664D-E111-96A2-0018FE865BEC') and (DateEnd is null or DateEnd>getdate())